* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

main {
    margin: 10px 10px 10px 23%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    /* background-color: #242424; */
    background-color: black;
    overflow: auto;
    height: calc(100vh - 100px);
}
.cart{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #242424;
}
.save-later{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #242424;
}
/* .bill{
    margin: 0px;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #123a30;
    background-color: #152823;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bill p{
    font-size: larger;
} */
.products {
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    /* width: 75%; */
    background-color: #242424;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-product:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    transform: scale(1.02);
}

.cart-product-img {
    margin: 10px;
    min-width: 20%;
    max-width: 20%;
    height: calc(100% - 20px);
}
.cart-product-img img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.cart-product:active:not(:has(.btns button:active, .save-later-a:active)) {
    background-color: rgba(50, 50, 50, 0.9);
    transform: scale(0.98);
}
.added-move{
    display: flex;
    gap: 20px;
}
.save-later-a{
    text-decoration: none;
    font-size: large;
    color: rgb(172, 172, 172);
    height: fit-content;
    width: fit-content;
}
.save-later-a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.cart-btns{
    width: 20%;
}

/* remove */
.remove {
    padding: 10px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    outline: 0;
    opacity: 0;
    transition: 0.3s opacity ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.remove:hover {
    background-color: white;
    color: #FF4742;
}

/* wishlist */
.addtowishlist {
    padding: 10px;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    outline: 0;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.3s opacity ease, transform 0.3s ease;
    cursor: pointer;
}

/* buynow */
.buynow{
    padding: 10px;
    background-color: #c2fbd7;
    border-radius: 5px;
    color: green;
    cursor: pointer;
    text-align: center;
    border: 0;
    font-size: 1rem;
    font-weight: 800;
    opacity: 0;
    transition: 0.3s opacity ease, transform 0.3s ease;
}
/* proceed buy */
.proceedbuy{
    /* margin: 0px 0.5rem; */
    padding: 10px;
    background-color: #c2fbd7;
    border-radius: 5px;
    color: green;
    cursor: pointer;
    text-align: center;
    border: 0;
    font-size: 1rem;
    font-weight: 800;
    transition: 0.3s opacity ease, transform 0.3s ease;
}
.proceedbuy:hover{
    transform: scale(1.03);
}
.proceedbuy:active{
    transform: scale(0.97);
}
.buynow:hover,
.addtowishlist:hover,
.remove:hover{
/* .proceedbuy:hover { */
    transform: scale(1.05);
}

.product:hover .remove,
.product:hover .addtowishlist,
.product:hover .buynow {
    opacity: 1;
}

.buynow:active,
.addtowishlist:active,
.remove:active{
/* .proceedbuy:active { */
    transform: scale(0.9);
}
.products-bill{
    display: flex;
    gap: 10px;
    background-color: black;
}

.bill-proceedbuy{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    width: 30%;
}
/* bill */
.bill{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #242424;
}
.bill div{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.bill div:hover{
    background-color: #353535;
    cursor: pointer;
}
.bill div:first-child{
    border-radius: 5px 5px 0px 0px;
}
.bill div:last-child{
    border-radius: 0px 0px 5px 5px;
}

/* check box */
.product-checkbox {
    margin: 0;
    appearance: none;
    /* -webkit-appearance: none; */
    min-width: 3rem; 
    max-width: 3rem; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-right: 2px solid transparent;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    color: transparent;
}

.product-checkbox:checked {
    border-right: 2px solid #c2fbd7;
    color: #c2fbd7;
    background-color: rgba(194, 251, 215, 0.15);
}

.product-checkbox:not(:checked) {
    background-color: rgba(251, 194, 194, 0.15);
    color: red; 
    border-right: 2px solid #fc8e8e; 
}

.product-checkbox:checked::after {
    content: '✔'; 
}

.product-checkbox:not(:checked)::after {
    content: '✖'; 
}