body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background: url('../images/cartimg.jpg') no-repeat center center/cover;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
.switch-btn{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    height: 50px;
    border: 1px solid rgb(40, 40, 40);
}
.switch-btn{
    border: 0px;
}
.switch-btn button{
    border: none;
    width: 50%;
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: medium;
    background-color: transparent;
}
.switch-btn button:hover{
    background-color: rgb(37, 37, 37);
}
.signupbtn{
    outline: none;
    border: 0px;
    border-radius: 10px 0px 0px 0px;
}
.loginbtn{
    border-radius: 0px 10px 0px 0px;
}
form{
    margin: auto;
    border-radius: 10px;
    color: #111111;
    max-width: 600px;
}
.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 45%;
}
.glass form{
    margin: 0px 20px;
}
input[type="text"],
input[type="password"],
select{
    margin: 5px 0px;;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: #222222;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #333333;
}
input[type="submit"],
input[type="reset"] {
    padding: 12px 24px;
    background-color: rgba(248, 49, 49, 0.8);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4); 
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase; 
    backdrop-filter: blur(8px); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background-color: rgba(248, 49, 49, 1); 
    transform: scale(1.05);
}
input[type="submit"]:active,
input[type="reset"]:active {
    background-color: rgba(248, 49, 49, 0.9);
    transform: scale(0.98);
}
.error-msg{
    margin-top: 5px;
    color: red;
    font-size: 14px;
}