*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    scrollbar-width: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
main{
    margin: 10px 10px 10px 23%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    color: white;
    background-color: #242424;
    overflow: auto;
    height: calc(100vh - 100px);
}
.logo{
    margin: 10px;
    display: flex;
    gap: 0px;
    font-size: 30px;
    font-weight: 600;
}
.logout:hover{
    color: rgb(254, 88, 88);
}
.sidebar{
    margin: 0;
    padding: 0;
    width: 23%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: black;
    color: white;
}
hr{
    border: 1px solid grey;
}
.sidebar-nav{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #242424;
    font-size: 18px;
    color: white;
}
.sidebar-nav div:first-child{
    border-radius: 10px 10px 0px 0px;
}
.sidebar-nav div:last-child{
    border-radius: 0px 0px 10px 10px;
}
.sidebar-nav div{
    padding: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}
.sidebar-nav div:hover{
    background-color: #353535;
    cursor: pointer;
}
.sidebar div i{
    font-size: larger;
}
.sidebar-address{
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    border-radius: 10px;
    font-size: large;
    background-color: #242424;
}
.address-heading{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.your-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.address-plus i{
    padding: 5px 7px;
    float: right;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgb(128, 128, 128, 0.8);
    color: white;
    /* outline: none;  */
    border: none;
    backdrop-filter: blur(8px); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.address-plus i:hover{
    background-color: rgba(128, 128, 128, 0.8);
    transform: scale(1.05);
    cursor: pointer;
}
.address-plus i:active {
    background-color: rgba(128, 128, 128, 0.9);
    transform: scale(0.98);
}
.address{
    padding: 15px 20px;
}
.addresses div:last-child{
    border-radius: 0px 0px 10px 10px;
}
.address:hover{
    cursor: pointer;
    background-color: #353535;
}
.address-description{
    color: grey;
    font-size: 17px;
}
.sidebar-links{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.sidebar-links li{
    list-style: none;
}
.sidebar-links li a{
    text-decoration: none;
    color: grey;
}
.sidebar-links li a:hover{
    color: rgb(216, 216, 216);
}
.language{
    margin: 10px;
    padding: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: transform 0.5s ease;
}
.language:hover{
    transform: scale(1.05);
    border-color: white;
    cursor: pointer;
}
.language:active{
    transform: scale(0.95);
}